<div class="panel-group conversation-panel" id="conv-panel-{{id}}">
  <div class="panel panel-default ">
    <div class="panel-heading">
      <h4 class="panel-title" id="conversation-person-name">
        <a data-toggle="collapse" data-parent="#conv-panel-{{id}}" href="#conversation-{{id}}">
          {{username}} 
        </a>
        <i class="fa fa-exclamation-circle notification-icon hide"></i>
        <button type="button" class="close" aria-hidden="true">&times;</button>
      </h4>
      
    </div>
    <div id="conversation-{{id}}" class="panel-collapse collapse">
      <div class="panel-body conversation-body">
        <div class="well list-container" id="conversation-messages-container"> 
        </div>
      </div>
      <div id="conversation-input-container" class="input-group">
        <input id="conversation-msg-input" type="text" class="form-control">
      </div>   
    </div>
  </div>
</div>